@import url("https://fonts.googleapis.com/css?family=Inter:700,400|Koulen:400");

@font-face {
    font-family: 'HSBombaramR';
    src: url('/fonts/HSBombaram3.0_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'HSBombaramT';
    src: url('/fonts/HSBombaram3.0_Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
